.outterProp-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.propSections {
  width: 100%;
  height: 100%;
}

.outterProp-div:hover {
  .everything {
    width: 100%;
    height: 100%;
display: flex;
    left: 0;
    top: 0;
    position: absolute;
    .projectTitle {
      display: block !important;
      color: white;

      margin: 0px 0px 0px 30px !important;
    }

    .projectDate {
      display: block !important;
      color: rgb(172, 160, 160);
      font-size: 20px;
      margin: 0px 30px 00px 0px !important;
    }
    .projectText {
      display: block !important;
      color: white;
        margin: 0px 0px 0px 30px;
    }

    .projectText-div {
      width: 100%;
      display: flex;
      flex-direction: row;
      left: 0;
      top: 0;
    }
  }

  .propSections {
    filter: blur(10px);

    background-color: black;
    transition: background-color 0.5s ease;
    border-radius: 20px;

    .ProjectIMG {
      max-width: 98%;
    }
  }
}

.imgSection {
  width: 10%;
}

.ProjectIMG {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.propTexts {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
}
.projectTitle {
  color: white;

  top: 0;
  left: 0;
  display: none;
}

.projectDate {
  color: white;
  top: 0;
  left: 0;
  display: none;
}

.alltextInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}