.mainAbout-div{
    height: 1000px;
}


.outterAbout-div{
width: 90%;
margin: 0 auto;
}

.aboutHeader{
    color: white;
    font-weight: 600;
    padding-top: 120px;
    margin-bottom: 80px;
    font-size: 50px;
}


.schoolIntro{
    color: white;
}

.highlightText{
    font-weight: 800;
    color: white;
}

.skills{
    
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 40px;
   @media (max-width:1284px) {
    grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width:786px) {
    grid-template-columns: repeat(1, 1fr);
   }
}

.meIntro{
    width:100%;
    color: white;
    line-height: 1.8;
}

.line1{
    display: flex;
    flex-direction: column;
   
    gap: 20px;
}

.line2{
    display: flex;
    flex-direction: column;
  
    gap: 20px;
}

.programmingSkills{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.programmingLang{
    color: white;
}

.programmingTitle{
    display: flex;
    flex-direction: column;
}

.languageTitle{
    color: white;
  display: flex;
  justify-content: center;
}


.resumeBox-div{
    background-color: black;
    border-radius: 50px;
}

  
 .resumeBox{
    display: block;
    width: 175px;
    height: 50px;
    line-height: 48px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: 2px solid #333;
    border-radius: 50px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
   
    
  }
  
  .resumeBox span{
    position: relative;
    z-index: 2;
  }
  
  .resumeBox:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all .35s;
    border-radius: 50px;
  }
  
  .resumeBox:hover{
    color: rgb(0, 0, 0);
    border-radius: 50px;
  }
  
  .resumeBox:hover:after{
    width: 100%;
    border-radius: 50px;
  }


  .contactBox-div{
    background-color: black;
    border-radius: 50px;
}
  
 .contactBox{
    display: block;
    width: 175px;
    height: 50px;
    line-height: 48px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    justify-self: center;
    border-radius: 50px;
  }
  
  .contactBox span{
    position: relative;
    z-index: 2;
  }
  
  .contactBox:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all .35s;
    border-radius: 50px;
  }
  
  .contactBox:hover{
    color: rgb(0, 0, 0);
    border-radius: 50px;
  }
  
  .contactBox:hover:after{
    width: 100%;
    border-radius: 50px;
  }

  

.infoBoxes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.innerRoleButton{
  background-color: rgb(215, 203, 203);
  border-radius: 10px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 12px;
}

.roleButtons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.roleTitle{
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
}

.aboutUsShort{
  display: flex;
  flex-direction: column;
  gap: 20px;
}